<div class="card">
    <div class="card-body">
        <p>pre-auth-details works!</p>
<div>
    <h5>{{Id}}</h5>


    <table>
        <tr *ngFor="let hero of ClaimDetails">
            <!-- <td>{{hero.ENT181_02}}</td>
            <td style="margin-left: 15px;">{{ClaimDetails.ENT180_03}}</td>
            <td style="margin-left: 15px;">{{ClaimDetails.ENT180_04}}</td>
            <td style="margin-left: 15px;">{{ClaimDetails.ENT180_05}}</td>
            <td style="margin-left: 15px;">{{ClaimDetails.ENT180_06}}</td>
            <td style="margin-left: 15px;">{{ClaimDetails.ENT180_07}}</td>
            <td style="margin-left: 15px;">{{ClaimDetails.ENT180_08}}</td>
            <td style="margin-left: 15px;">{{ClaimDetails.ENT180_09}}</td> --> 
              <td>
                <div class="card text-center">
                    <div class="card-header">{{hero.ENT180_04}}</div>
                    <div class="card-body">
                      <h5 class="card-title">{{hero.ENT180_26}}</h5>
                      <p class="card-text">
                        {{hero.ENT180_05}}
                      </p>
                      <!-- <a href="" class="btn btn-primary">Button</a> -->
                    </div>
                    <div class="card-footer text-muted">{{hero.ENT180_06 | date:'dd-MMM-yyyy'}}</div>
                  </div>
              </td>
        </tr>
    </table>
</div>
</div>
</div>